body{
  background-color:skyblue;
  color:black;
  text-align:center;
}

#container{
  background-color:orange;
  padding:25px;
  margin:50px;
  border-radius:25px;
}

#content{
  color:black;
}

img{
  height: 200px;
}