body{
  background-color:skyblue;
  color:black;
  text-align:center;
}

#container{
  background-color:orange;
  padding:25px;
  margin:50px;
  border-radius:25px;
}

#content{
  color:black;
}

img{
  height: 200px;
}

#gallery input[type="button"]{
  background-color:pink;
  color:black;
  font-size:bolder;
  padding:5px;
  margin:4px;
}

.list {
  text-alight:center;
  list-style-position:inside;  
}
